version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: /
    groups:
      actions:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
