name: Lint

on:
  push:
    branches:
      - main
    paths:
      - "bin/*"
      - ".github/workflows/*"
  pull_request:
    paths:
      - "bin/*"

jobs:
  lint:
    permissions:
      contents: read
    name: shellcheck & shfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: luizm/action-sh-checker@883217215b11c1fabbf00eb1a9a041f62d74c744 # v0.10.0
    env:
      SHELLCHECK_OPTS: --external-sources
      SHFMT_OPTS: -d -i 2 -ci
