name: Lint

on:
  push:
    branches:
      - main
    paths:
      - "bin/*"
      - ".github/workflows/*"
  pull_request:
    paths:
      - "bin/*"

jobs:
  lint:
    permissions:
      contents: read
    name: shellcheck & shfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2 # v0.9.0
    env:
      SHELLCHECK_OPTS: --external-sources
      SHFMT_OPTS: -d -i 2 -ci
